/.idea
/hiyori.tar
/Hiyori/Plugins/Personal_plugins/
/Cqhttp/
/Hiyori/Data/
/node_modules/
/tailwind.config.js
/Hiyori/Plugins/Debug_plugins/
/Hiyori/Utils/Message/VitsVoice/
/Hiyori/Utils/API/Huawei/
/Hiyori/plugin.prod.json
/Hiyori/Plugins/Nonebot_plugins/nonebot_plugin_today_waifu/record/
/Hiyori/Plugins/Basic_plugins/nonebot_plugin_htmlrender/templates/
/WindowsService/
/Hiyori/Log/
/Hiyori/DockerStart/
/Hiyori/Tools/
/sd-webui-aki/
/Hiyori/Config/
/Hiyori/.env.test
/Hiyori/plugin.test.json
/WindowsService/qsign119.py
/MoeGoe/Data/config.json
/Hiyori/Plugins/Nonebot_plugins/nonebot_plugin_mcqq_server/
/Hiyori/tests/Vits/
