/.idea
/Hiyori/Data/SlaveMarket/ShoppingCart.json
/Hiyori/Data/Database/
/Hiyori/Data/BlackHistory/
/Hiyori/Data/memes/
/Hiyori/Data/petpet/
/Hiyori/Data/who@me/
/Hiyori/Data/pluginSwitch/
/Hiyori/Data/fortune/fortune_data.json
/Hiyori/Data/fortune/group_rules.json
/Cqhttp/Cqhttp-Hiyori-1/config.yml
/Cqhttp/Cqhttp-Hiyori-1/cqhttp.exe
/Cqhttp/Cqhttp-Hiyori-1/device.json
/Cqhttp/Cqhttp-Hiyori-1/data/
/Cqhttp/Cqhttp-Hiyori-1/logs/
/hiyori.tar
