/.idea
/Hiyori/Data/SlaveMarket/ShoppingCart.json
/Hiyori/Data/Database/
/Hiyori/Data/BlackHistory/
/Hiyori/Data/memes/
/Hiyori/Data/petpet/
/Hiyori/Data/who@me/
/Hiyori/Data/pluginSwitch/
/Hiyori/Data/fortune/fortune_data.json
/Hiyori/Data/fortune/group_rules.json
